@font-face {
  font-family: 'PlayfairDisplay';
  src: url('https://cdn-resource.cinelove.me/fonts/webfonts/playfairdisplay/playfairdisplay.woff2') format('woff2'),
       url('https://cdn-resource.cinelove.me/fonts/webfonts/playfairdisplay/playfairdisplay.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}