@font-face {
  font-family: 'Soul Note Display';
  src: url('https://cdn-resource.cinelove.me/fonts/webfonts/soul-note-display/soul-note-display.woff2') format('woff2'),
       url('https://cdn-resource.cinelove.me/fonts/webfonts/soul-note-display/soul-note-display.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}