@font-face {
  font-family: 'Madam Ghea';
  src: url('https://cdn-resource.cinelove.me/fonts/webfonts/madam-ghea/madam-ghea.woff2') format('woff2'),
       url('https://cdn-resource.cinelove.me/fonts/webfonts/madam-ghea/madam-ghea.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}